// Font sizes
$fnt-size-sm: .75rem;
$fnt-size: 1rem;
$fnt-size-lg: 1.25rem;


// Colors
// Text colors
$clr-text-lt: #ffffff;
$clr-text: #959595;
$clr-text-dk: #464646;

// Brand colors
$clr-primary: #0282f9;
$clr-secondary: #ffffff;

// Neutral colors
$clr-neutral-lt: #ffffff;
$clr-neutral-dk: #1c1c1c;


// Dimensions
// Page elements content max widths
$wdt-lg: 1300px;

// Fixed height elements heights
$hgt-top-bar: 7.5rem;
$hgt-footer-section-navigation: 25rem;
$hgt-footer-section-socials: 7rem;